.sec-date{
    display: table;
    border-collapse: separate;
}
.sec-date .form-control{
    display: table-cell;
}
.input-to{
    background: transparent;
    border: none;
}
.body-bg{
    background: #eff3f8;
}
.container-bg{
    background: #fff;
}
.sec-ten ul li{
    display: inline;
}
.search{
    border: 1px solid green;
    background: green;
    width: 100px;
    height: 40px;
    padding: 15px ;
    color: #fff;
    text-align: center;
    
}
.sec-ten{
    padding: 15px 0px;
}
.inner-bg{
    padding: 15px;
}
.sec-head
{
    color: #32c5d2 !important;
    text-transform: uppercase !important;
    font-weight: 600 !important;
}

.font-green {
            color: #32c5d2 !important;
            margin: 2px;
}
.sec-search
{
    
    background-color:#32c5d2 ;
    color:#ffff;
}
.sec-search:hover
{
    
    color:white;
}

.sec-clear
{
     margin-left:40px;
}


label
{
         font-weight: 400;
        font-size: 14px;
        margin-bottom: 5px !important;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button 
{ 
         -webkit-appearance: none; 
         margin: 0; 
}
.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center
}
.input-group-addon, .input-group-btn {
    display: table-cell;
}

.fdate
{
    display: inline-block;
    margin-top: 4px;
    margin-left: 5px;
    padding: 5px;
}