<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Lead Filter</title>
</head>
<body class="body-bg">
	
    <div class="form-element">
      <!-- form Starting -->
    <form #f1="ngForm" novalidate>  
      <div class="container container-bg">
      <div class="inner-bg">
           <i class="fa fa-search font-green"></i>
        <span class="sec-head">Lead Filter</span     >
        <hr>
        <div class="row">
          <!-- Date  Range -->
          <div class="col-md-3">
            <label>Date Range</label>
            <div class="sec-date">
              <input class="form-control formone" autocomplete="off" bsDatepicker placeholder="From Date" name="t1" [(ngModel)]="leadObject.fdate" #t1="ngModel" required>
              
              <div class="alert alert-danger fdate" *ngIf="t1.invalid && (t1.touched || t1.dirty)">
                   date Required !
              </div>
              <span class="input-group-addon input-to">to</span>
              <input class="form-control formone" autocomplete="off" bsDatepicker [(ngModel)]="leadObject.todate" name="t2" #t2="ngModel" required placeholder="to Date">
              <div class="alert alert-danger fdate"  *ngIf="t2.invalid && (t2.touched || t2.dirty)">
                  To date Required !
              </div>
            </div>
            
          </div>
          <!-- Email -->
          <div class="col-md-3">
            <label>Email</label>
            <div class="sec-two">
              <input type="email" class="form-control" [(ngModel)]="leadObject.email"  name="t3" #t3="ngModel" required email> 
              <div class="alert alert-danger" *ngIf="t3.invalid && (t3.touched || t3.dirty)">
                 
                  <div *ngIf="t3.errors.required">Email is required</div>
                  <div *ngIf="t3.errors.email">Email must be a valid email address</div>
              </div>
            </div>
          </div>

          <!-- Mobile -->
         <div class="col-md-3">
              <div class="sec-three">
                    <label for="">Enter Mobile Number</label>
                    <international-phone-number  [(ngModel)]="leadObject.phone_number" 
                      [maxlength]="14"  [defaultCountry]="'in'" 
                      [required]="true"  #phoneNumber="ngModel" name="phoneNumber" [allowedCountries]="true"></international-phone-number>
                    <!-- <div class="alert alert-danger" *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)"> -->
                      
                    <div class="alert alert-danger" *ngIf="!phoneNumber.touched && phoneNumber.dirty">Mobile number is  required</div>    
                      
                    <!-- </div> -->
              </div>
          </div>
          <!-- Lead Uploaded -->
          <div class="col-md-3">
            <label>Leads Uploaded</label>
            <div class="sec-four">
              <select name="leaduploded"[(ngModel)]="leadObject.leadupload" name="lead" required #lead="ngModel" class="form-control">
                <option>Yes</option>
                <option>No</option>
              </select>
            </div>
            <div class="alert alert-danger" *ngIf="lead.touched && lead.invalid">
                    Lead is Required !
            </div>
          </div>
        </div><br>
        <!-- Select Agent -->
        <div class="row">
          <div class="col-md-3">
            <label>Select Agent</label>
            <div class="sec-five">
              <select autocomplete="off" [(ngModel)]="leadObject.agent"  name="agents" #agents="ngModel" required class="form-control">
                      <option>Feroz Basha</option>
                      <option>Harish</option>
                      <option>Moti Singh</option>
                      <option>Niram Kumar</option>
                      <option>Rama Krishna</option>
                      <option>Ramesh P</option>
                      <option>Rohit K</option>
                      <option>Sachin G</option>
                      <option>Shwata</option>
                      <option>Vinitha</option>
                      <option>Sidharth</option>
                      <option>Mahipal Testing</option>
              </select>
            </div>
              <div class="alert alert-danger" *ngIf="agents.touched && agents.invalid">
                Agent is Required !
              </div>
              
          </div>
          <!-- Select Supervisor -->
          <div class="col-md-3">
            <label>Select Supervisor</label>
            <div class="sec-six">
              <select [(ngModel)]="leadObject.supervisor" name="supv" #supv="ngModel" required class="form-control">
                <option>Feroz Basha</option>
                <option>Harish</option>
                <option>Moti Singh</option>
                
              </select>
            </div>
            <div class="alert alert-danger" *ngIf="supv.touched && supv.invalid">
                Supervisor is Required !
            </div>
          </div>

          <!-- Find  Task -->
          <div class="col-md-3">
            <label>Find Tasks</label>
            <div class="sec-seven">
              <select name="task" [(ngModel)]="leadObject.ftask" #task="ngModel" required class="form-control">
                <option>Yes</option>
                <option>No</option>
              </select>
            </div>

            <div class="alert alert-danger" *ngIf="task.touched && task.invalid">
                Please Select Task !
            </div>
          </div>

          <!-- Select Status -->
          <div class="col-md-3">
            <label>Select Status</label>
            <div class="sec-eight">
              <select class="form-control" name="stats" [(ngModel)]="leadObject.status" #stats="ngModel" required>
                <optgroup label="Customer Intent">
                <option>Prospect</option>
                <option>Call 1</option>
                <option>Call 2</option>
                <option>F2F Shedule</option>
                <option>F2F Completed</option>
                <option>Surgery Required</option>
                <option>Surgery Wanted</option>
                <option>Surgery Completed</option>
                </optgroup>
                <optgroup label="Follow Up">
                <option>New</option>
                <option>Not Interested</option>
                <option>No Response</option>
                <option>Surgery Not Required</option>
                <option>Duplicate</option>
                <option>Price Enquiry</option>
                <option>Completed Outside</option>
                <option>Hold</option>
                <option>Invalid</option>
                <option>WhatsApp</option>
                </optgroup>
              </select>
            </div>
            <div class="alert alert-danger" *ngIf="stats.touched && stats.invalid">
                Please Select Status !
            </div>
          </div>
        </div><br>
        <!-- Time Range -->
        <div class="row">
          <div class="col-md-3">
            <label>Time Range</label>
            <div class="sec-nine">
              <select class="form-control" name="timerg" [(ngModel)]="leadObject.timerange" #timerg="ngModel" required>
                <optgroup label="6 hours Window">
                <option>12 AM to 6 AM</option>
                <option>6 AM to 12 PM</option>
                <option>12 PM to 6 PM</option>
                <option>6 PM to 12 AM</option>
                </optgroup>
                <optgroup label="6 hours Window">
                <option>12 AM to 12 PM</option>
                <option>12 PM to 12 AM</option>
                </optgroup>
              </select>
            </div>

            <div class="alert alert-danger" *ngIf="timerg.touched && timerg.invalid">
                Please Select Time Slot !
            </div>

          </div>
        </div>
        <!-- Button Controls -->
        <div class="row">
          <div class="col-md-3 text-center">
            <div class="sec-ten">
              <button class="btn sec-search" (click)="searchLead()" [disabled]="f1.invalid" >Search</button>	
              <button class="btn btn-danger sec-clear" (click)="cleardata()">Clear</button>
            </div>
          </div>
        </div>
      </div>
      </div>
    
    </form>

    
    <div *ngIf="leadList.length>0" class="table-responsive container"> 
      <!-- <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum distinctio aspernatur ipsam nemo omnis reprehenderit dolorum doloremque harum reiciendis fugit neque aliquid suscipit quibusdam, hic atque sunt sapiente, tenetur animi?</p> -->
    
        <table class="table">
          <thead>
            <th>Lead Link / Status</th>
            <th>Created Date</th>
            <th>Name/Email/Mobile</th>
            <th>Owner/Supervisor</th>
            <th>Task/Desc</th>
            <th>Action</th>
          </thead>
          <tbody>
            <tr></tr>
          </tbody>

        </table>
    
    
    
    
    </div>

    </div>
    
    
  </body>
  
</html>